<nav>
    <div>
        <a routerLink="/home" routerLinkActive="active"><img src="/ibm-logo-transparent-icon.png" alt="IBM Logo"></a>
    </div>
    <div>
        <a routerLink="/employees" routerLinkActive="active">Employees</a>
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
    </div>
</nav>



<!-- <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
</nav>
 -->
<!-- <nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/employees">Employees</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
</nav> -->