<main>
    <section class="hero">
        <img src="/ibm-home.jpg"
            alt="IBM Building">
        <article class="hero-content">
            <h1>IBM Employee Management System</h1>
            <p>
                Welcome to the Employee Management System.
                Manage employees, departments, and organizational data
                efficiently through a modern Angular application.
            </p>
            <button routerLink="/login">Enter...</button>
        </article>
    </section>
</main>