<div>
    <h1>Employee Details</h1>
    <div>
        <a routerLink="/employees">Back to Employee List</a>
    </div>
    <div>
        @if (errorMessage()) {
        <p>{{ errorMessage() }}</p>
        }
    </div>

    @if (employee(); as emp) {
    <div>
        <p>Name: {{ emp.fullName }}</p>
        <p>Email: {{ emp.email }}</p>
        <p>Role: {{ emp.role }}</p>
        <p>Active: {{ emp.isActive }}</p>
        @if (emp.designation) {
        <p>Designation: {{ emp.designation }}</p>
        }
        @if (emp.salary) {
        <p>Salary: {{ emp.salary | salary }}</p>
        }
        @if (emp.department) {
        <p>Department: {{ emp.department }}</p>
        }
        <p>Joined: {{ emp.joinDate }}</p>
    </div>
    }

</div>