<div>
    <h1>Employee List Component</h1>
    <div>
        <button (click)="loadEmployees()">Load Employees</button>
    </div>

    @if (errorMessage()) {
    <p>{{ errorMessage() }}</p>
    }

    @if (pagination(); as page) {
    <p>Page {{ page.page }} of {{ page.totalPages }} (Total: {{ page.total }})</p>
    }

    <div>
        @for (emp of employees(); track emp.id) {
        <p> {{ emp.fullName }} <a [routerLink]="['/employees', emp.id]">{{ emp.fullName }}</a> </p>
        }
    </div>

</div>


<!-- <div>
    <h1>Employee List Component</h1>
    <button (click)="fun()">Click</button>
    <br />
    <p [hidden]="isYes">Name1: {{employees[0].name}} </p>
    <div *ngIf="isYes">Name 1: {{employees[0].name}}</div>
    <div *ngIf="isYes; else elseBlock">Name 1: {{employees[0].name}}</div>
    <div>
        <ng-template #elseBlock>Name 2: {{employees[1].name}}</ng-template>
    </div>
    @ngIf
    <div>
        <h3>Show employee using &#64;if</h3>
        @if (isYes) {
        {{ employees[0].name }}
        } @else {
        {{ employees[1].name }}
        }
    </div>
    <div>
        <h3>List of employees using &#64;for</h3>
        @for (emp of employees; track emp.id) {
        <p>{{emp.id}} {{emp.name}} {{emp.salary}}</p>
        }
    </div>



</div> -->