<div>

    <h1>Employee Login</h1>

    <div>
        <p>Admin</p>
        <p>aditya.k@ems.local</p>
        <p>pass1234</p>
    </div>

    <form (ngSubmit)="login()" #loginForm="ngForm">

        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="user.email" required email>

        <br />

        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="user.password" required>

        <br />

        <button type="submit" [disabled]="loginForm.invalid">
            Login
        </button>

    </form>

    @if (errorMessage()) {
    <div>
        {{ errorMessage() }}
    </div>
    }

    @if (loggedInUser(); as employee) {
    <div>
        <h3>Logged In Employee</h3>

        <p>{{ employee.id }}</p>
        <p>{{ employee.fullName }}</p>
        <p>{{ employee.email }}</p>
        <p>{{ token }}</p>
    </div>
    }

</div>
<!-- <div>

    <h1>Employee Login</h1>
    <div>
        <p>Admin</p>
        <p>aditya.k@ems.local</p>
        <p>pass1234</p>
    </div>

    <form (ngSubmit)="login()" #loginForm="ngForm">
        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="user.email" required email>
        <br />
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="user.password" required>
        <br />
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>

    @if(errorMessage){
    <div>
        {{ errorMessage }}
    </div>
    }

    @if(loggedInUser){
    <div>
        <h3>Logged In Employee</h3>
        <p>{{ loggedInUser.id }}</p>
        <p>{{ loggedInUser.fullName }}</p>
        <p>{{ loggedInUser.email }}</p>
        <p>{{ token }}</p>
    </div>
    }
</div> -->

<!-- <div>
    <h2>Observable / subscribe Demo</h2>
    <button (click)="loadUser()">Load User Data</button>
    <p>User data: {{user.username}}</p>
</div> -->





<!-- <div>
    <h1>Login Component</h1>

    <button (click)="loadUser()">Load User #2</button>

    @if (user) {
    <div>
        <h3>{{ user.name }}</h3>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>
        <p>Website: {{ user.website }}</p>
    </div>
    }
</div> -->
<!-- <div>
    <h1>Login Component</h1>

    <button (click)="loadUser()">Load User #2</button>

    @if (loading) {
    <p>Loading...</p>
    } @else if (error) {
    <p class="error">{{ error }}</p>
    } @else if (user) {
    <div class="user-card">
        <h3>{{ user.name }}</h3>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>
        <p>Website: {{ user.website }}</p>
    </div>
    }
</div> -->

<!-- <div>
    <h1>Login Component</h1>

    <button (click)="loadUser()">Load User #2</button>

    @if (loading()) {
    <p>Loading...</p>
    } @else if (error()) {
    <p class="error">{{ error() }}</p>
    } @else if (user()) {
    <div class="user-card">
        <h3>{{ user()!.name }}</h3>
        <p>Username: {{ user()!.username }}</p>
        <p>Email: {{ user()!.email }}</p>
        <p>Phone: {{ user()!.phone }}</p>
        <p>Website: {{ user()!.website }}</p>
    </div>
    }
</div> -->

<!-- <div>
    <h1>Login Component</h1>
    <p appHighlight>Highlight me!</p>
    <p class="special">This is login component.</p>
    <p [ngClass]="special">This is login component.</p>
    <div [ngClass]="isSpecial ? 'special' : 'nonspecial'">This div is special</div>
    <div [ngStyle]="currentStyles"> This div becomes orange.</div>
    <button (click)="fun()">Click</button>

</div> -->

<!-- <div>
    <h1>Login Component</h1>
    <p>This is login component.</p>
    <h3>Data binding</h3>
    <h4>Interpolation </h4>
    <p> {{user.email}} </p>
    <p> {{username}} </p>
    <p> {{username | uppercase}} </p>
    <p> {{salary | currency}} </p>
    <p> {{salary | currency : 'USD'}} </p>
    <p> {{salary | currency : 'INR'}} </p>
    <p> {{salary | currency : 'EUR'}} </p>
    <p> {{ 'AbCdEf' | lowercase}} </p>
    <p>{{ 10 + 2 == 12 }}</p>
    <h4>Property binding</h4>
    <h4>Event binding</h4>
    <button (click)="fun()">Click</button>
    <p [hidden]="!isIndian">Indian</p>
    <h4>Two way binding</h4>
    <p> {{username}} </p>
    <input [(ngModel)]="username" />

</div> -->