form {
    max-width: 100%;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 24px;
    max-width: 75%;
}

fieldset select {
    grid-column: 1 / -1;
}

p[role="alert"] {
    color: var(--danger);
}